
h3 {
    font-family: 'Playfair Display', serif;
}

.navbar .navbar-brand,
.navbar .nav-link {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

.jumbotron h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.jumbotron p,
.jumbotron button {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}